Repository SAP/cloud-sdk, pull requests merged in 2020-12, with the labels that each got.

#47 Add further exception accessors
  docs/java/features/odata/type-safe-client-odata-v2.mdx
  docs/java/features/odata/type-safe-client-odata-v4.mdx
Labels: Java

#62 Add note on dependency scope change for multi tenancy with BAPI
  docs/java/features/bapi-and-rfc/overview.mdx
  docs/java/troubleshooting.mdx
Labels: Java, enhancement, feedback

#67 Release notes + fixes for header levels + template
  docs/java/release-notes.mdx
Labels: release notes

#64 Add SAP Cloud SDK CLI documentation
  .github/workflows/build_documentation.yml
  .vale.ini
  docs/community/tech-ed.mdx
  docs/java/features/bapi-and-rfc/overview.mdx
  docs/js/features/cli/generator.mdx
  docs/js/features/cli/init.mdx
  docs/js/features/cli/overview.mdx
  docs/js/features/cli/package.mdx
  docs/js/features/connectivity/proxy.mdx
  docs/js/getting-started.mdx
  docs/overview/feature-matrix.mdx
  sidebars.js
  styles/SAP/HeadingAcronyms.yml
  styles/SAP/Sentences.yml
  styles/Vocab/SAP/accept.txt
Labels: JavaScript

#66 Update FAQ to reflect current changes in Open API
  docs/java/faq.mdx
Labels: Java

#77 improve deep create with troubleshooting
  docs/js/features/odata/common/operations/deep-create.mdx
Labels: JS
