Repository SAP/cloud-sdk, pull requests merged in 2021-06, with the labels that each got.

#300 Add release notes for Java SDK 3.46.0
  docs/java/release-notes.mdx
  styles/Vocab/SAP/accept.txt
Labels: Java

#317 Enhance CAP guide with decorating asynchronous calls
  docs/java/guides/cap-sdk-integration.mdx
Labels: Java

#320 [Java] Mention Attachment Service in FAQ
  docs/java/faq.mdx
Labels: Java

#325 Fix the link on the badge to point to JS repo
  src/sap/sdk-js/BuildBadge.js
Labels: JS

#324 Async request
  docs/components/NotImplemented.js
  docs/java/features/odata/type-safe-client-odata-v4.mdx
  docs/js/features/openapi/generate-openapi-client.mdx
Labels: Java, OData

#335 Update OData (V2 + V4) Generator Usage Instructions
  docs/java/features/odata/generate-client.mdx
Labels: Java

#341 Usage Instructions for SAMLAssertion
  docs/java/features/connectivity/destinations.mdx
Labels: Java

#332 We don't need this redirects anymore. Some of them are wrong
  docs/community/community-call.mdx
  docs/dzen/getting-started.mdx
  docs/dzen/how-to-write-docs.mdx
  docs/java/faq.mdx
  docs/java/features/connectivity/destinations.mdx
  docs/java/features/multi-tenancy/thread-context.mdx
  docs/java/features/odata/generate-client.mdx
  docs/java/features/resilience/caching.mdx
  docs/java/features/resilience/resilience.mdx
  docs/java/features/rest/overview.mdx
  docs/java/getting-started.mdx
  docs/java/guides/cap-sdk-integration.mdx
  docs/java/guides/cf-cli.mdx
  docs/java/guides/cf-deploy.mdx
  docs/java/guides/cf-xsuaa.mdx
  docs/java/guides/dependencies.mdx
  docs/java/guides/linux-how-to.mdx
  docs/java/guides/recommended-ide.mdx
  docs/java/guides/spring-boot-war-deployment.mdx
  docs/java/overview.mdx
  docs/java/release-notes.mdx
  docs/js/api.mdx
  docs/js/features/connectivity/proxy.mdx
  docs/js/features/odata/overview.mdx
  docs/js/features/odata/redirect-generate-typed-odata-v2-and-v4-client-for-javascript-and-typescript.mdx
  docs/js/features/odata/redirect-generator-js-sdk.mdx
  docs/js/features/odata/redirect-use-typed-odata-client-for-javascript-and-typescript.mdx
  docs/js/features/odata/redirect-use-typed-odata-client-for-js.mdx
  docs/js/features/odata/redirect-use-typed-odata-v2-client-for-javascript-and-typescript.mdx
  docs/js/features/odata/redirect-use-typed-odata-v4-client-for-javascript-and-typescript.mdx
  docs/js/features/openapi/generate-openapi-client.mdx
  docs/js/getting-started.mdx
  docs/js/redirect-api-reference-js-ts.mdx
  docs/overview/about.mdx
  docs/overview/benefits.mdx
  docs/overview/getting-started.mdx
  package-lock.json
  sidebars.js
  src/sap/sdk-java/DocsRating/docRating.css
  src/sap/sdk-java/DocsRating/index.js
Labels: JS

#333 Add release notes for Java SDK 3.47.0
  docs/java/release-notes.mdx
Labels: Java

#343 Explain new token exchange strategy
  docs/java/features/connectivity/destinations.mdx
Labels: Java

#344 Explain Different OData VDM Naming Strategies
  docs/java/features/odata/generate-client.mdx
  docs/java/troubleshooting.mdx
Labels: Java

#350 Mention dependency exclusion
  docs/java/features/bapi-and-rfc/overview.mdx
Labels: Java
