Repository SAP/cloud-sdk, pull requests merged in 2021-08, with the labels that each got.

#377 [troubleshooting] Mention the potential requirement for full token service path
  docs/java/troubleshooting.mdx
Labels: Java

#406 Update link to Javadoc in release notes
  docs/java/release-notes.mdx
Labels: Java

#401 Add link to the ScpCfDestinationTokenExchangeStrategy Javadoc
  docs/java/features/connectivity/destinations.mdx
Labels: Java

#374 A starter for the K8s docs
  docs/js/guides/migrate-sdk-application-from-btp-cf-to-kubernetes.mdx
  sidebars.js
Labels: JS

#411 Introduce release notes for Java SDK 3.51.0
  docs/java/release-notes.mdx
Labels: Java

#441 Fix build for Webpack 5
  docusaurus.config.js
  package-lock.json
  package.json
Labels: enhancement

#440 Mention support launchpad. Minor rewrite for clarity and style.
  docs/java/release-notes.mdx
  docs/overview/support.mdx
Labels: enhancement
