Repository SAP/cloud-sdk, pull requests merged in 2021-01, with the labels that each got.

#73 Add docs on error handling in JS SDK
  docs/js/features/error-handling.mdx
  sidebars.js
Labels: JS

#92 Add section about destination header provider
  docs/java/features/connectivity/destinations.mdx
Labels: Java

#91 Add release notes for the 3.36.0 Java release
  docs/java/release-notes.mdx
Labels: Java, release notes

#105 Add MDI to feature-matrix
  docs/components/data/features.js
Labels: Java

#103 Add OData v2 batch example for generic OData client
  docs/components/data/features.js
  docs/java/features/odata/generic-odata-client.mdx
  docs/java/features/odata/overview.mdx
  docs/java/features/odata/type-safe-client-odata-v2.mdx
Labels: Java

#106 Change min alert level for builds
  .github/workflows/build_documentation.yml
Labels: vale

#104 Update destination-header-provider API
  docs/java/features/connectivity/destinations.mdx
Labels: Java
