Repository SAP/cloud-sdk, pull requests merged in 2022-11, with the labels that each got.

#1089 Added instructions for fixing HttpClientFactory error
  docs-java/troubleshooting.mdx
Labels: Java

#1102 [js] Fix sample code link
  docs-js/tutorials/multi-tenant-application.mdx
Labels: javascript

#1079 [js] chore: improve slugs
  STYLEGUIDE.md
  docs-js/announcing-version-2-beta.mdx
  docs-js/announcing-version-2.mdx
  docs-js/features/connectivity/destination-cache-isolation.mdx
  docs-js/features/connectivity/destination.mdx
  docs-js/features/connectivity/generic-http-client.mdx
  docs-js/features/connectivity/on-premise.mdx
  docs-js/features/connectivity/proxy.mdx
  docs-js/features/error-handling.mdx
  docs-js/features/eslint-configuration.mdx
  docs-js/features/logging.mdx
  docs-js/features/mail-client/mail-client.mdx
  docs-js/features/odata/execute-odata-request.mdx
  docs-js/features/odata/generate-odata-client.mdx
  docs-js/features/odata/odata-v2-client.mdx
  docs-js/features/odata/odata-v4-client.mdx
  docs-js/features/odata/overview.mdx
  docs-js/features/openapi/execute-openapi-request.mdx
  docs-js/features/openapi/generate-openapi-client.mdx
  docs-js/getting-started.mdx
  docs-js/guides/bas-external-system.mdx
  docs-js/guides/debug-remote-app.mdx
  docs-js/guides/how-to-add-resilience.mdx
  docs-js/guides/how-to-retrieve-jwt.mdx
  docs-js/guides/how-to-use-the-approuter.mdx
  docs-js/guides/migrate-sdk-application-from-btp-cf-to-kubernetes.mdx
  docs-js/guides/migrate-to-os.mdx
  docs-js/guides/sdk-in-browser.mdx
  docs-js/guides/trust-and-key-stores.mdx
  docs-js/guides/upgrade-to-version-2.mdx
  docs-js/overview.mdx
  docs-js/release-notes.mdx
  docs-js/release-policy.mdx
  docs-js/support.mdx
  docs-js/troubleshooting.mdx
  docs-js/tutorials/address-manager/change-addresses.mdx
  docs-js/tutorials/address-manager/read-addresses.mdx
  docs-js/tutorials/getting-started/1-set-up-dev-environment.mdx
  docs-js/tutorials/getting-started/2-execute-odata-request.mdx
  docs-js/tutorials/getting-started/introduction.mdx
  docs-js/video/calm.mdx
  docs-js_versioned_docs/version-v1/features/odata/odata-v2-client.mdx
  docs-js_versioned_docs/version-v1/features/odata/odata-v4-client.mdx
  docs-js_versioned_docs/version-v1/features/openapi/execute-openapi-request.mdx
  docs-js_versioned_docs/version-v1/guides/upgrade-to-version-2.mdx
  docusaurus.config.js
  sidebarsDocsJs.js
Labels: javascript

#1097 [Java] Release notes for `4.1.0`
  docs-java/release-notes/release-notes-0-to-14.mdx
Labels: Java, release notes

#1067 Update docs for current state of K8s support
  docs-java/environments/sap-btp-kubernetes-environment-with-sap-gardener.mdx
  docs-java/environments/sap-btp-kyma-environment.mdx
  docs-java/guides/4.0-upgrade.mdx
Labels: Java

#1078 [Java] Update Instructions for Spring Boot Archetype
  docs-java/getting-started.mdx
Labels: Java

#1109 Fix tutorials link
  docs-java/getting-started.mdx
Labels: Java

#1110 chore: fix service binding link
  docs-js/features/connectivity/destination.mdx
Labels: javascript

#1092 [Java] Release notes for `3.76.0`
  docs-java_versioned_docs/version-v3/release-notes/release-notes-75-to-89.mdx
Labels: Java, release notes

#1133 fix: fix formatting
  docs-js/features/connectivity/destination.mdx
Labels: javascript

#1123 [Java] Release notes for 3.77.0
  docs-java_versioned_docs/version-v3/release-notes/release-notes-75-to-89.mdx
Labels: release notes
