Repository SAP/cloud-sdk, pull requests merged in 2022-10, with the labels that each got.

#1028 [Java V3] Replace Deprecated Destination Retrieval Strategy
  docs-java/features/connectivity/destinations.mdx
Labels: Java

#1041 [Java V4] Update `RequestHeaderContainer` Usage Instructions
  docs-java/features/multi-tenancy/thread-context.mdx
Labels: Java

#1048 Add version dropdown for Java v3 and v4
  docusaurus.config.js
Labels: Java

#1046 [Java] 4.0 Update Guide
  docs-java/guides/4.0-upgrade.mdx
  docs-java/release-notes.mdx
  docs-java_versioned_docs/version-v3/release-notes.mdx
  docs-java_versioned_sidebars/version-v3-sidebars.json
  sidebarsDocsJava.js
Labels: Java

#1057 [Java V4] Release Notes
  docs-java/release-notes.mdx
Labels: Java

#1059 [Java V4] Add Note About CVE-2022-42003
  docs-java/release-notes.mdx
Labels: Java

#1062 Prettier Java Docs
  .prettierignore
  docs-java/environments/sap-btp-kyma-environment.mdx
  docs-java/features/odata/generate-client.mdx
  docs-java/features/odata/generic-odata-client.mdx
  docs-java/guides/4.0-upgrade.mdx
  docs-java/guides/dependencies.mdx
  docs-java/release-notes.mdx
  docs-java/troubleshooting.mdx
Labels: Java

#1053 Merge Java doc v4 into main
  .prettierignore
  docs-java/environments/sap-btp-kyma-environment.mdx
  docs-java/features/connectivity/destinations.mdx
  docs-java/features/multi-tenancy/thread-context.mdx
  docs-java/features/odata/generate-client.mdx
  docs-java/features/odata/generic-odata-client.mdx
  docs-java/features/odata/type-safe-client-odata-v2.mdx
  docs-java/features/odata/type-safe-client-odata-v4.mdx
  docs-java/features/resilience/caching.mdx
  docs-java/features/rest/clients/btp-business-rules-rest-api.mdx
  docs-java/features/rest/clients/scp-workflow-rest-api.mdx
  docs-java/features/rest/generate-rest-client.mdx
  docs-java/features/service-bindings/service-binding-loader.mdx
  docs-java/getting-started.mdx
  docs-java/guides/4.0-upgrade.mdx
  docs-java/guides/cap-sdk-integration.mdx
  docs-java/guides/dependencies.mdx
  docs-java/release-notes.mdx
  docs-java/release-policy.mdx
  docs-java/troubleshooting.mdx
  docs-java_versioned_docs/version-v3/release-notes.mdx
  docs-java_versioned_sidebars/version-v3-sidebars.json
  docusaurus.config.js
  sidebarsDocsJava.js
  src/components/data/features.js
  styles/Vocab/SAP/accept.txt
Labels: Java

#1060 [js] use description meta tag for snippet generation
  src/pages/components/HomepageFeatures.js
  src/pages/index.js
Labels: javascript

#1072 [js] add sample repo to footer
  docusaurus.config.js
Labels: javascript

#1075 [js] remove currency conversion
  docs-js/extensions/currency-conversion.mdx
  docs-js_versioned_docs/version-v1/extensions/currency-conversion.mdx
  docs-js_versioned_sidebars/version-v1-sidebars.json
  sidebarsDocsJs.js
  static/currency-conversion/api/0.1.1/assets/css/main.css
  static/currency-conversion/api/0.1.1/assets/images/icons.png
  static/currency-conversion/api/0.1.1/assets/images/icons@2x.png
  static/currency-conversion/api/0.1.1/assets/images/widgets.png
  static/currency-conversion/api/0.1.1/assets/images/widgets@2x.png
  static/currency-conversion/api/0.1.1/assets/js/main.js
  static/currency-conversion/api/0.1.1/assets/js/search.js
  static/currency-conversion/api/0.1.1/classes/_sap_cloud_sdk_currency_conversion_core.currencyconverter.html
  static/currency-conversion/api/0.1.1/classes/_sap_cloud_sdk_currency_conversion_models.bulkconversionresult.html
  static/currency-conversion/api/0.1.1/classes/_sap_cloud_sdk_currency_conversion_models.currencyamount.html
  static/currency-conversion/api/0.1.1/classes/_sap_cloud_sdk_currency_conversion_models.currencyconversionerror.html
  static/currency-conversion/api/0.1.1/classes/_sap_cloud_sdk_currency_conversion_models.exchangeratevalue.html
  static/currency-conversion/api/0.1.1/classes/_sap_cloud_sdk_currency_conversion_models.singlefixedrateconversionresult.html
  static/currency-conversion/api/0.1.1/classes/_sap_cloud_sdk_currency_conversion_models.singlenonfixedrateconversionresult.html
  static/currency-conversion/api/0.1.1/enums/_sap_cloud_sdk_currency_conversion_models.conversionmodelerror.html
  static/currency-conversion/api/0.1.1/index.html
  static/currency-conversion/api/0.1.1/interfaces/_sap_cloud_sdk_currency_conversion_models.conversionparameterforfixedrate.html
  static/currency-conversion/api/0.1.1/interfaces/_sap_cloud_sdk_currency_conversion_models.conversionparameterfornonfixedrate.html
  static/currency-conversion/api/0.1.1/interfaces/_sap_cloud_sdk_currency_conversion_models.currency.html
  static/currency-conversion/api/0.1.1/interfaces/_sap_cloud_sdk_currency_conversion_models.dataadapter.html
  static/currency-conversion/api/0.1.1/interfaces/_sap_cloud_sdk_currency_conversion_models.exchangerate.html
  static/currency-conversion/api/0.1.1/interfaces/_sap_cloud_sdk_currency_conversion_models.exchangeratetypedetail.html
  static/currency-conversion/api/0.1.1/interfaces/_sap_cloud_sdk_currency_conversion_models.tenantsettings.html
  static/currency-conversion/api/0.1.1/modules.html
  static/currency-conversion/api/0.1.1/modules/_sap_cloud_sdk_currency_conversion_core.html
  static/currency-conversion/api/0.1.1/modules/_sap_cloud_sdk_currency_conversion_models.html
  static/currency-conversion/api/versions.js
  static/currency-conversion/api/versions.json
Labels: javascript

#1070 [java] [v4] Migration info for mockutil
  docs-java/guides/4.0-upgrade.mdx
Labels: Java, release notes

#1080 Advertise release and end-of-life dates
  docs-java/release-policy.mdx
Labels: Java

#1076 [Java] Update Getting Started Docs
  docs-java/getting-started.mdx
Labels: Java

#1069 Chore: Split Java Release Notes to avoid Babel Warning
  docs-java/release-notes.mdx
  docs-java/release-notes/index.jsx
  docs-java/release-notes/release-notes-0-to-14.mdx
  docs-java_versioned_docs/version-v3/release-notes.mdx
  docs-java_versioned_docs/version-v3/release-notes/index.jsx
  docs-java_versioned_docs/version-v3/release-notes/release-notes-0-to-14.mdx
  docs-java_versioned_docs/version-v3/release-notes/release-notes-15-to-29.mdx
  docs-java_versioned_docs/version-v3/release-notes/release-notes-30-to-44.mdx
  docs-java_versioned_docs/version-v3/release-notes/release-notes-45-to-59.mdx
  docs-java_versioned_docs/version-v3/release-notes/release-notes-60-to-74.mdx
  docs-java_versioned_docs/version-v3/release-notes/release-notes-75-to-89.mdx
Labels: Java
