Repository SAP/cloud-sdk, pull requests merged in 2022-12, with the labels that each got.

#1158 Added Spring SecurityContext instructions
  docs-java/features/multi-tenancy/thread-context.mdx
Labels: Java

#1145 [Java] Add Section about Destination Cache Configuration
  docs-java/features/connectivity/destinations.mdx
Labels: Java

#1169 Add release notes for SDK v3.78.0
  docs-java_versioned_docs/version-v3/release-notes/release-notes-75-to-89.mdx
Labels: release notes, waiting for release

#1177 [JS] Add Retry Documentation
  docs-js/features/connectivity/destination.mdx
Labels: javascript

#1174 [JS] Add Middleware Documentation
  docs-js/features/connectivity/generic-http-client.mdx
  docs-js/features/middleware.mdx
  docs-js/features/odata/execute-odata-request.mdx
  docs-js/features/openapi/execute-openapi-request.mdx
  sidebarsDocsJs.js
Labels: javascript

#1180 [JS] Update Resilience Documentation
  docs-js/guides/how-to-add-resilience.mdx
Labels: javascript
