Repository SAP/cloud-sdk, pull requests merged in 2022-06, with the labels that each got.

#825 [js] add documentation on dest properties
  docs/js/features/connectivity/destination.mdx
  static/img/destination-property-sap-client.png
Labels: JS

#842 [Java] Release Notes 3.69.0
  docs/java/release-notes.mdx
Labels: Java

#843 chore: Fix Java logo
  src/pages/components/HomepageFeatures.js
  static/img/logo-java.svg
  static/img/logo-js.svg
Labels: Java

#716 Update CAP/CDS 1.23.0 integration with Cloud SDK
  docs/java/features/multi-tenancy/thread-context.mdx
  docs/java/guides/cap-sdk-integration.mdx
Labels: Java

#814 docs(js): update logging.mdx
  docs/js/features/logging.mdx
Labels: JS

#758 Added Rate Limiter in resilience
  docs/java/features/resilience/resilience.mdx
Labels: enhancement, Java, feature request

#848 docs(js): update js doc for edm primitive type comparison operators
  docs/js/features/odata/common/operations/create-as-child-of.mdx
  docs/js/features/odata/common/operations/deep-create.mdx
  docs/js/features/odata/common/query-parameter/filter-functions.mdx
  docs/js/features/odata/common/query-parameter/filter.mdx
  docs/js/features/odata/v4/filter-one-to-many.mdx
Labels: JS

#853 chore: add documentation on custom destination caching
  docs/js/features/connectivity/destination-cache-isolation.mdx
Labels: JS

#840 [JS] add information on custom JWT
  docs/java/release-notes.mdx
  docs/js/features/connectivity/destination.mdx
  docs/js/features/connectivity/on-premise.mdx
  docs/js/guides/bas-external-system.mdx
  docs/js/guides/how-to-retrieve-jwt.mdx
  docs/js/overview.mdx
Labels: JS

#850 [Java] Release Notes for 3.70.0
  docs/java/release-notes.mdx
Labels: Java

#865 [Java V4] Remove `RequestScopedHttpClientCache`
  docs/java/features/connectivity/destinations.mdx
  docs/java/features/multi-tenancy/thread-context.mdx
Labels: Java

#882 fix tutorial link
  docs/js/features/connectivity/proxy.mdx
Labels: JS
