Repository SAP/cloud-sdk, pull requests merged in 2023-08, with the labels that each got.

#1452 docs: add docs on forward auth token and service bindings
  docs-js/features/connectivity/destination.mdx
Labels: javascript

#1456 [Java] Fix Kyma Docs
  docs-java/environments/kyma.mdx
  docs-java/environments/sap-btp-kyma-environment/btp-cockpit-kyma-console-url.png
  docs-java/environments/sap-btp-kyma-environment/btp-kyma-dashboard-destination-service-creation.png
  docs-java/environments/sap-btp-kyma-environment/btp-kyma-dashboard-destination-service-selection.png
  docs-java/environments/sap-btp-kyma-environment/btp-kyma-dashboard-xsuaa-service-creation.png
  docs-java/environments/sap-btp-kyma-environment/btp-kyma-dashboard-xsuaa-service-selection.png
  docs-java/environments/sap-btp-kyma-environment/kyma-binding-creation.png
  docs-java/environments/sap-btp-kyma-environment/kyma-instance-creation.png
  docs-java/guides/cap-sdk-integration.mdx
  docs-java_versioned_docs/version-v5/environments/kyma.mdx
  docs-java_versioned_docs/version-v5/environments/sap-btp-kyma-environment/btp-kyma-dashboard-destination-service-creation.png
  docs-java_versioned_docs/version-v5/environments/sap-btp-kyma-environment/btp-kyma-dashboard-destination-service-selection.png
  docs-java_versioned_docs/version-v5/environments/sap-btp-kyma-environment/btp-kyma-dashboard-xsuaa-service-creation.png
  docs-java_versioned_docs/version-v5/environments/sap-btp-kyma-environment/btp-kyma-dashboard-xsuaa-service-selection.png
  docs-java_versioned_docs/version-v5/environments/sap-btp-kyma-environment/kyma-binding-creation.png
  docs-java_versioned_docs/version-v5/environments/sap-btp-kyma-environment/kyma-instance-creation.png
  docs-java_versioned_docs/version-v5/guides/cap-sdk-integration.mdx
Labels: Java

#1465 Update K8S docs for latest releases of Unified Connectivity
  docs-java/environments/gardener.mdx
  docs-java/environments/kyma.mdx
  docs-java_versioned_docs/version-v5/environments/gardener.mdx
  docs-java_versioned_docs/version-v5/environments/kyma.mdx
Labels: Java

#1462 OpenAPI loglevel property updated to verbose
  docs-java/features/rest/generate-rest-client.mdx
  docs-java_versioned_docs/version-v5/features/rest/generate-rest-client.mdx
Labels: Java

#1440 Feat: Document `HttpClient5Accessor`
  docs-java/features/connectivity/http-client.mdx
  docs-java_versioned_docs/version-v5/features/connectivity/http-client.mdx
Labels: Java

#1447 Deprecated Workflow Service and Business Rules
  docs-java/features/rest/clients/btp-business-rules-rest-api.mdx
  docs-java/features/rest/clients/scp-workflow-rest-api.mdx
  docs-java_versioned_docs/version-v5/faq.mdx
  docs-java_versioned_docs/version-v5/features/rest/clients/btp-business-rules-rest-api.mdx
  docs-java_versioned_docs/version-v5/features/rest/clients/scp-workflow-rest-api.mdx
  docs-java_versioned_docs/version-v5/features/rest/overview.mdx
  docs-java_versioned_docs/version-v5/guides/5.0-upgrade.mdx
  docs-java_versioned_docs/version-v5/overview.mdx
  docs-java_versioned_sidebars/version-v5-sidebars.json
Labels: don't merge, Java

#1449 OData Generator Maven Plugin CLI Functionality Added
  docs-java/features/odata/generator.mdx
  docs-java/features/rest/generate-rest-client.mdx
  docs-java_versioned_docs/version-v5/features/odata/generator.mdx
  docs-java_versioned_docs/version-v5/features/rest/generate-rest-client.mdx
Labels: Java

#1468 Release Notes 4.20
  docs-java/release-notes/release-notes-15-to-29.mdx
Labels: Java

#1474 [V5] Migration Guide: Security Servlet Removal
  docs-java_versioned_docs/version-v5/guides/5.0-upgrade.mdx
Labels: Java

#1439 chore: Update k8s guide
  docs-js/environments/code/Dockerfile.mdx
  docs-js/environments/code/index.jsx
  docs-js/environments/code/kyma-app-tabs.mdx
  docs-js/environments/code/kyma-approuter-tabs.mdx
  docs-js/environments/code/operator-destination-service.mdx
  docs-js/environments/code/operator-xsuaa-service.mdx
  docs-js/environments/migrate-sdk-application-from-btp-cf-to-kubernetes.mdx
  docs-js/environments/migrate-sdk-application-from-btp-cf-to-kyma.mdx
  docs-js/features/connectivity/destination.mdx
  docs-js/features/connectivity/generic-http-client.mdx
  docs-js/features/odata/common/query-parameter/top.mdx
  docs-js/guides/migrate-sdk-application-from-btp-cf-to-kubernetes.mdx
  docs-js/img/btp-cockpit-kubeconfig-url.png
  docs-js/img/kyma-api-rule.png
  docs-js/overview.mdx
  docs-js/release-policy.mdx
  docs-js/support.mdx
  docusaurus.config.js
  package.json
  sidebarsDocsJs.js
Labels: javascript

#1482 [Java] Release notes 4.21.0
  docs-java/release-notes/release-notes-15-to-29.mdx
Labels: Java

#1473 Removed the SAP Java Buildpack BOM and TomEE archetype
  docs-java/features/bapi-and-rfc/overview.mdx
  docs-java/getting-started.mdx
  docs-java/guides/dependencies.mdx
  docs-java/guides/linux-how-to.mdx
  docs-java/guides/spring-boot-war-deployment.mdx
  docs-java/overview.mdx
  docs-java_versioned_docs/version-v5/features/bapi-and-rfc/overview.mdx
  docs-java_versioned_docs/version-v5/getting-started.mdx
  docs-java_versioned_docs/version-v5/guides/5.0-upgrade.mdx
  docs-java_versioned_docs/version-v5/guides/dependencies.mdx
  docs-java_versioned_docs/version-v5/guides/linux-how-to.mdx
  docs-java_versioned_docs/version-v5/guides/spring-boot-war-deployment.mdx
Labels: Java

#1490 Note on SJB with Java 17
  docs-java/guides/dependencies.mdx
  docs-java_versioned_docs/version-v5/guides/dependencies.mdx
Labels: Java

#1489 Remove outdated auth types
  docs-java_versioned_docs/version-v5/features/connectivity/destinations.mdx
Labels: Java

#1497 javax.inject.Named references removed from v5
  docs-java_versioned_docs/version-v5/features/odata/generator.mdx
  docs-java_versioned_docs/version-v5/features/odata/v2-client.mdx
  docs-java_versioned_docs/version-v5/features/odata/v4-client.mdx
  docs-java_versioned_docs/version-v5/guides/5.0-upgrade.mdx
Labels: Java

#1487 [V5] Migration Guide: AuthTokenBuilder Removal
  docs-java_versioned_docs/version-v5/guides/5.0-upgrade.mdx
Labels: Java
